body {
  color: #000000;
  text-align: center;        /* 中央寄せの指定 */
  background-image: url("./back.png");
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: top left;
  background-repeat: no-repeat;
}

ol {
  list-style: none;
  padding-left: 0;
}

ul{
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1em;
}
.follow {
  display        : inline-block;
  padding: 0.2em;
}

.follow img{
  border: 1px solid;
}
